@import url("components/button.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/logo.css");
@import url("components/banner.css");
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
	font-size: 20px;
	line-height: 1.8;
	letter-spacing: 1px;
}

body {
	color: rgb(10, 10, 10);
background-color: #ced4da;
}

div {
	margin: 0 auto;
	text-align: center;
	border-radius: 5%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ced4da;
	font-family: Quicksand, sans-serif;
}

